/*
CSS - Put all the formatting information in this file

height: 100%;
    margin: 10;
    background-image: -webkit-linear-gradient(rgb(144, 221, 217), rgb(182, 221, 184));
*/

body {
    margin: 0;
}

.navbar {
    color: #f5f8ed;
    background-color: #f0946e;
    justify-content: center;
    max-height: fit-content;
}

a.navbar-item {
    height: 52px;
}

#brand-logo {
    max-height: 50px;
}

.menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*keep for hamburger functionality*/
@media only screen and (max-width: 1024px) {

    /* You can define your styles in here */
    .menu-items {
        flex-direction: column
    }
}

#homepage {
    background-color: aquamarine;
    size: 100%;
}


/*----Font Styles*/
i {
    color: #231f20;
}

.section {
    display: flex;
    gap: 20px;
}

.foot {
    display: flex;
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    column-gap: 100px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color:white;
}

.textbox {
    margin: 50px;
    display: grid;
    gap: 30px
}

a:link {
    color: #231f20;
}

a:hover {
    text-decoration: none;
    color: #625b5d;
}

a.navbar-item:hover {
    background-color: #ed8053;
    color: #000;
}

.navbar-item {
    color: #231f20;
}
